<div class="container">
  <!-- Even though this page is index.html.erb, the url will be http://localhost:3000/lists/  -->

  <h1>Movie Lists Below</h1>
  <p>Movies here</p><%= @movies %>
  <p>Lists here</p><%= @lists %>
    <div class="list-group-container">
      <% @lists.each do |list| %>

        <div class="card m-2 p-2" style="width: 250px">
          <%= image_tag("movie.jpg")%>
          <div class="card-body">
            <h5 class="card-title"><%= list.name %></h5>
            <button type="button" class="btn btn-dark m-1">
              <%= link_to "View", list_path(list.id) %>
            </button>
            <button type="button" class="btn btn-dark m-1">
              <%= link_to "Destroy", list_path(list.id), method: :delete, data: { confirm: "Are you sure?" } %>
            </button>
          </div>
        </div>
      <% end %>
    </div>
</div>
